body {
    background-color: #2C3E50;
}

.container {
    margin-top: 80px;
    border-radius: 30px;
    max-width: 800px;
    height: fit-content;
    background-color: #34495E;
}

.container .input-group {
    width: 250px;
}

.container  {
    width: 900px;
    height: 550px;
    padding: 10px;
    margin-top: 20px;
}
.container  h1 {
    color: #ECF0F1;
    margin-left: 70px;
    padding-bottom: 20px;
}
.container .col img {
    width: 350px;
}
.container  h4 {
    color: #ECF0F1;
    margin-bottom: 15px;
}
.container .btn{
  margin-left: 10px;
}
.container a{
    text-decoration: none;
    color: #ECF0F1;
}