body{
    background-color:#2C3E50;
}
.container{
    margin-top: 80px;
    border-radius: 30px;
    max-width: 800px;
    height: fit-content;
    background-color:#34495E;
}
.container  .input-group {
    width: 250px;
}
.container #credentials{
    padding: 30px;
    margin-top: 40px;
}.container  h1 {
    color: #ECF0F1;
}
.container #credentials  h3{
    color: #ECF0F1;
    margin-left: 70px;
    padding-bottom: 20px;
}
.container #credentials h6 {
    color: #ECF0F1;
}
.container #credentials .input-group {
     padding-bottom: 10px;
}
.input-group-text img{
    width: 20px;
}
.container #credentials .form-check{
    margin-left: 110px;
}
.container #credentials .form-check .form-check-input{
    border: none;
    background-color: #369481;
}
.container .btn {
    background-color:#369481;
    border:none;
    margin: 10px 0 0 175px;
}
.container .btn:hover {
    background-color: #1ABC9C;
}
.container #credentials .form-check .form-check-input:hover {
    background-color: #1ABC9C;
}
.apply-container h1{
    color: #ECF0F1;
    padding: 20px;
}
.container .register{
    color: #ECF0F1;
}
.container .register a{
    text-decoration: none;
    color: #799096;
}
.container .register a:hover {
    color:#d0eff7;
}
.light {
    background-color: antiquewhite;
    color: black;
}
